    <!-- Main Content -->
    
   
    <main class="p-4 sm:ml-64">
        <h1 class="text-2xl font-bold">Hello</h1>
        <p class="mt-2 text-gray-600">Have a nice day</p>
    <div class="fixed top-2 right-2 sm:right-4 lg:right-10 flex items-center text-gray-600 p-3 rounded-bl-lg">
        <a href="#" class="flex items-center p-3 text-gray-700 hover:bg-gray-200">
            <svg class="w-6 h-6 text-gray-800 dark:text-gray-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24" >
                <path d="M17.133 12.632v-1.8a5.406 5.406 0 0 0-4.154-5.262.955.955 0 0 0 .021-.106V3.1a1 1 0 0 0-2 0v2.364a.955.955 0 0 0 .021.106 5.406 5.406 0 0 0-4.154 5.262v1.8C6.867 15.018 5 15.614 5 16.807 5 17.4 5 18 5.538 18h12.924C19 18 19 17.4 19 16.807c0-1.193-1.867-1.789-1.867-4.175ZM8.823 19a3.453 3.453 0 0 0 6.354 0H8.823Z"/>
              </svg>                              
        </a>
        <div class="h-10 border-l border-gray-400"></div>&nbsp;
        <img src="test.jpg" alt="error profile" class=" rounded-full mr-2">
        <p class="text-gray-600">Pidchanard</p>
    </div>
        
        
    </main>